<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio - CEC-EPN</title>
    <link rel="icon" href="/imagenes/cec.ico"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .separador {
            margin-top: 200px;
            margin-bottom: 200px;
        }
        .row.m{
            margin-bottom: 20px;
        }
        h6.indicadores{
            padding-bottom: 2px;
            font-family: 'Raleway', sans-serif;
            color: white;
            text-align: center;
            font-size: 14px;

        }
        h6.indicadores.lin{
            background-color: #c3251d;
        }
        h6.indicadores.edup{
            background-color: #00ACC8;
        }
        h6.indicadores.eduv{
            background-color: #0D2240;
        }
        .opciones {
            text-align: center;
            color: black;
        }
        .footer{
            background: radial-gradient(ellipse at center top, rgba(0,76,142,1.00) 0%,rgba(0,39,73,1.00) 100%);
        }
        .opciones:hover{
            color:  #c3251d;
        }
        p.opciones.ini{
            color:  #c3251d;
        }
        .container-fluid.primario{
            background-color: rgba(255,255,255,0.4);

        }
        .container-fluid.foto{
            background-image: url("/../imagenes/cierreventas.jpg");
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
        .container-fluid.fondo{
            background-image: url("/../imagenes/fondo.png");
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
        .bus{
            background-color: #00ACC8;
            border-width: 0px;
            color: white;
            text-align: center;

        }
        .col-md-3.bus.alinea{
            display: flex;
            justify-content: space-between;
            border-radius:0px 0px 5px 5px;
            padding-bottom: 4px;
            padding-top: 2px
        }
        h3{
            color: white;
            font-family: 'Raleway', sans-serif;
        }
        .lineaw {
            border-bottom: white 1px solid;

        }
        h2, h6{
            font-family: 'Arial',sans-serif;
            color: #771E0D;
        }
        tr#titulo {
            border-right: #771E0D 8px ;
            border-right-style: solid;

        }

        h2.title{
            font-size: 40px;
        }
        table {
            width: 100%;
        }
        .boxes {
            font-family: 'Raleway', sans-serif;
            color: white;
            display: flex;
            text-align: center;
            justify-content: space-around;
            font-weight: 100;
            font-size: 30px;
        }
        .comboboxes{
            display: flex;
            justify-content: center;
        }
        select{
            width: 90%;
        }
        .blanco{
            color: white;
            font-size: 13px;
        }
        th:hover,li:hover{
            color: rgba(243,151,0,1.00);
            text-shadow: 1px 1px 2px rgba(0,0,0,0.80);
        }
        table.outline{
            border-collapse: collapse;
            border-style: hidden;
        }
        td.tablaline{
            border: 1px solid white;
        }
        td.tablaline:hover{
            background-color: #0D2240;
        }
        .piepag{
            font-size: 13px;
            margin: 0px;
            font-weight: 200;
        }
        #oferta{
            font-size: 25px ;
            border-bottom: rosybrown 1px solid;
            color: white;
        }
    </style>
</head>
<body>
<div class="container-fluid foto">
<!--<div class="separador"></div>-->
<div class="container-fluid primario" >
<div class="row m">
    <div class="col-sm-4"></div>
    <div class="col-sm-2">
        <h6 class="indicadores lin"><b>LINGÜISTICA</b></h6>
    </div>
    <div class="col-sm-3">
        <h6 class="indicadores edup"><b>EDUCACIÓN</b> PRESENCIAL</h6>
    </div>
    <div class="col-sm-3">
        <h6 class="indicadores eduv"><b>EDUCACIÓN</b> VIRTUAL</h6>
    </div>
</div>
    <div class="row m">
        <div class="col-sm-3">
            <img src="/../imagenes/epn.png" alt="Escuela Politecnica Nacional">
        </div>
        <div class="col-sm-6"></div>
        <div class="col-sm-3">
            <img src="/../imagenes/cec.png" alt="Centro de Educacion Continua">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <p class="opciones ini">Inicio</p>
        </div>
        <div class="col-sm-2">
            <p class="opciones">¿Quienes Somos?</p>
        </div>
        <div class="col-sm-1">
            <p class="opciones">Servicios</p>
        </div>
        <div class="col-sm-2">
            <p class="opciones">Calendario Académico</p>
        </div>
        <div class="col-sm-2">
            <p class="opciones">Aulas Virtuales</p>
        </div>
        <div class="col-sm-1">
            <p class="opciones">Contáctenos</p>
        </div>
        <div class="col-sm-2">
            <p class="opciones">Portal en Linea</p>
        </div>
    </div>
</div>
<div class="contain-fluid secundario">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-md-3 bus alinea" >
                <input class="bus" type="text" placeholder="¿Qué curso estas buscando?">
                <a href="https://www.google.com"><i class="fa fa-search bus" ></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5" style="padding-bottom: 200px; padding-top: 200px; padding-left: 105px">
            <table>
                <tr id="titulo" class="lineaw">
                    <td>
                    <h2 class="title">Cierre de Ventas y <b>Negociacion Exitosa</b></h2>
                    </td>

                </tr>
                <tr class="lineaw">
                    <td><h6>Inicio 27 de mayo</h6></td>
                </tr>
                <tr>
                    <td>
                        <button style="background-color: #A02842; color: white; border-width: 0px 0px 0px 0px; float: right;  padding: 10px 32px;">Inscríbete aquí</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-7"></div>
    </div>
</div>
</div>
<div class="container-fluid fondo" style="padding-top: 100px; padding-bottom: 100px; padding-left: 50px; padding-right: 50px">
    <div class="row">
        <div class="col-sm-3">
            <span class="boxes">-ENCUENTRA-</span>
            <span class="comboboxes">
                <select name="1" id="1">
                     <option value="1">-</option>
                </select></span>
        </div>
        <div class="col-sm-3">
            <span class="boxes" style="color: gray">-TU-</span>
            <span class="comboboxes">
                <select name="2" id="2">
                    <option value="1">-</option>
                </select>
            </span>
        </div>
        <div class="col-sm-3">
            <span class="boxes" style="color: gray">-CURSO-</span>
            <span class="comboboxes">
                <select name="3" id="3">
                    <option value="1">-</option>
                </select>
            </span>
        </div>
        <div class="col-sm-3">
            <span class="boxes" style="color: gray">-AQUI-</span>
            <span class="comboboxes">
                <select name="4" id="4">
                    <option value="1">-</option>
                </select>
            </span>
        </div>
    </div>
</div>
<div class="container-fluid footer" style="padding-top: 20px; padding-bottom: 20px">
    <div class="row">
        <div class="col-lg-12" >
            <p id="oferta">OFERTA DE CURSOS Y PROGRAMAS DE FORMACIÓN</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
                     <table class="blanco">
                             <tr><th><b>Idiomas</b></th></tr>
                             <tr>
                                 <td>
                                 <ul>
                                     <li >Inglés</li>
                                     <li >Francés</li>
                                     <li >Chino-Mandarín</li>
                                     <li >Ruso</li>
                                     <li >TEFL/TESL/CCA™</li>
                                     <li ">Conversation Club</li>
                                 </ul>
                                 </td>
                             </tr>
                             <tr><th><b>Autoestudio (MOOC)</b></th></tr>
                         <tr>
                             <td>
                             <ul>
                                 <li >Marketing de Contenidos</li>
                                 <li >Google Drive</li>
                                 <li >Ofimática Básica</li>
                                 <li >De la Idea a un Modelo de Negocio con Startup</li>
                                 <li >Administración Básica de Moodle</li>
                                 <li >Estrategias de Servicio y Atención al cliente</li>
                                 <li >Relaciones Humanas</li>
                                 <li >Supervisión de Tutores Virtuales</li>
                                 <li >Office 365</li>
                             </ul>
                             </td>
                         </tr>
                     </table>
        </div>
        <div class="col-md-5">
            <table class="blanco">
                <tr>
                    <th>
                        <b>Empresariales</b>
                    </th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li >Actualización para Asistentes Ejecutivas</li>
                            <li >Administración por Procesos</li>
                            <li >Análisis Financiero para Cooperativas de Ahorro y Crédito</li>
                            <li >Contabilidad y Tributación</li>
                            <li >Coaching</li>
                            <li >Comercio Electrónico</li>
                            <li >Community Manager</li>
                            <li >Compras Públicas</li>
                            <li >Gestión de Proyectos basado en la guía del PMBOK®</li>
                            <li >Recursos Humanos</li>
                            <li >Gestión Pública</li>
                            <li >Habilidades Gerenciales</li>
                            <li >Imagen Personal y Corporativa</li>
                            <li >Inocuidad Alimentaria</li>
                            <li >Investigación de Mercados</li>
                            <li >Liderazgo</li>
                            <li >Negociación</li>
                            <li >Planificación Estratégica</li>
                            <li >Project Manager (Marco Lógico)</li>
                            <li >Seguridad Industrial</li>
                            <li >Servicio al Cliente</li>
                            <li >SPSS</li>
                        </ul>                   </td>
                </tr>
            </table>
        </div>
        <div class="col-md-2">
            <table class="blanco">
                <tr>
                    <th><b>Tecnológicos</b></th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Academia CISCO</li>
                            <li>Android</li>
                            <li>Autocad</li>
                            <li>Business Intelligence</li>
                            <li>Excel</li>
                            <li>Fibra Óptica y Telefonía IP</li>
                            <li>Hackeo Ético</li>
                            <li>Informática Forense</li>
                            <li>ITIL®</li>
                            <li>Linux</li>
                            <li>Java</li>
                            <li>Programación PHP</li>
                            <li>Project</li>
                            <li>Seguridad de la Información</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-2">
        <table class="blanco">
            <tr>
                <th><b>Educativos</b></th>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Educación Inicial</li>
                        <li>Educación General Básica</li>
                        <li>Experto en Tutoría Virtual</li>
                        <li>Formador de Formadores</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <table class="blanco outline" style="border-bottom: white 1px solid; width: 100%; text-align: center">
                <tr>
                    <td class="tablaline">Mapa del sitio</td>
                    <td class="tablaline">Webinarios</td>
                    <td class="tablaline">Noticias</td>
                    <td class="tablaline">Postulación Instructores</td>
                    <td class="tablaline">Preguntas Frecuentes</td>
                    <td class="tablaline">Rendición de Cuentas</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-2"></div>
        <br>
        <br><br>
        <div class="row" >
            <div class="col-lg-12">
                <div style="padding-bottom: 20px"></div>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid" style="background-color: #C1272D; color: white">
    <div class="row" style="padding-top: 20px; padding-bottom: 20px">
        <div class="col-lg-6" >
            <p class="piepag">Matriz: Av. Toledo N23-55 y Madrid; Quito-Ecuador</p>
            <p class="piepag">(02) 2525-766</p>
            <p class="piepag">Código Postal: 170525</p>
        </div>
        <div class="col-lg-6" style="display: flex; justify-content: right">
            <p class="piepag">Copyright © 2019 CEC-EPN · All Rights Reserved</p>
        </div>
    </div>

</div>
</body>
</html>