<style>
    #form {
        border: #428bca 1px solid;
        border-radius: 5px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 20px 20px 20px 20px;
    }
</style>
<div class="container" id="form">
    <div class="row">
        <div class="col-lg-12">
            <h3> No tienes acceso a esta pagina :( Trata de ingresar con otro usuario.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><a href="/../api/login"><button type="button" class="btn btn-danger">Regresar al Login</button></a></div>
        <div class="col-sm-4"></div>

    </div>
</div>