<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Examen 1B</title>
</head>
<body>
<form action="login" method="post">
    <h1>Iniciar Sesión</h1>
    <label for="username">Nombre de Usuario: </label>
    <input type="text" name="username" id="username" placeholder="Escriba su nombre de usuario" required>
    <br>
    <button>Ingresar</button>
</form>
</body>
</html>