<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/imagenes/grumosa.ico"/>
    <title>Estilos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    /* dentro de css los comentarios van dentro de : */
        /* selector { propiedad: valor; }*/
        /* selector: busqueda que va a hacer el navegador dentro del documento buscamen todos los selector: h1 */
    /* selector --> Etiqueta */
    h1 {
            color: aquamarine;
            background: cadetblue;
        }

    h2, div, p {
            color: coral;
            background: burlywood;
            font-size: 24px;
            font-weight: 700;
        }
        /* selector --> ID de etiqueta, el numeral hace referencia al id*/
        #adios{
            color: brown;
            background: blueviolet;
        }
        /*selector --> Clase, el punto referencia a una clase*/
        /*.verde {
            color: darkcyan;
            background: cornflowerblue;
        }*/
        /* Jerarquia de etiquetas*/
        /* etiqueta << clase << etiqueta.clase << id
        siempre es mas importante la union de selectores sobre una clase*/
        /* Todas las etiquetas tiene style=" " Este tiene mas poder sobre las de arriba */
     p {
        color: burlywood;
        background: coral;
    }
    p { /* para el mismo selector, si hay varios estilos para el mismo el que se aplica es ultimo definido de todo el documento */
        color: burlywood;
        background: chocolate;
    }
        /* al final de un docuemento css, se ponen los estilos que defino yo (programador)*/
        /*Orden de jerarquia por selector y por definicion
        Clase << Ultima Clase definida*/


    .verde {
            color: chartreuse;
    }
    .azul{
        color: cornflowerblue;
    }
    .morado{
        color: blueviolet;
    }
        /* cuando sea parrafo y tenga la clase x
         */
        p.verde{
            color: darkred;
        }
        p.verde.azul{
            color: black;
        }
        .modelo-cajas{
            margin: 100px;
            border-color: aquamarine;
            border-style:solid;
            border-width: 10px;
            border-right-width: 10px;
            border-right-width: 0px;
            padding: 10px;
        }
        .separador{
            margin-top: 200px;
            margin-bottom: 200px;
        }
        tr {
            border-bottom-color: chocolate;
            border-bottom-style:solid;
            border-bottom-width: 1px;
            border-bottom: chocolate solid 1px;
        }
        table {
            width: 100%;
        }
    </style>

</head>
<body>
 <!-- <div class="separador"></div> No usar br para saltos de lineas -->
<div class="container">
    <div class="row">
        <!-- EMMET .div ó .col-sm-5*3 y presionar Tab (dentro de las etiquetas de antes >(quiero-un) h1 -->
        <div class="col-sm-2">
            <h1>Logo</h1>
        </div>
        <div class="col-sm-7">
            <h1>Menu</h1>
        </div>
        <div class="col-sm-3">
            <h1>Login</h1>
        </div>
<!--        <div class="col-sm-6">-->
<!--            <h1>Small 6</h1>-->
<!--        </div>-->
<!--        <div class="col-sm-6">-->
<!--            <h1>Small 6 2 </h1>-->
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--            <h1>Medium 6</h1>-->
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--            <h1>Medium 6 2</h1>-->
<!--        </div>-->
<!--        <div class="col-lg-6">-->
<!--            <h1>Large 6</h1>-->
<!--        </div>-->
<!--        <div class="col-lg-6">-->
<!--            <h1>Large 6 2</h1>-->
<!--        </div>-->
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h1>Genero de Peliculas</h1>
            <table>
                <tr>
                    <td>i</td>
                    <td>Accion</td>
                    <td>824</td>
                </tr>
                <tr>
                    <td>i</td>
                    <td>Animacion</td>
                    <td>356</td>
                </tr>
                <tr>
                    <td>i</td>
                    <td>Anime</td>
                    <td>6</td>
                </tr>

            </table>
        </div>
        <div class="col-sm-9">
            <h1>Peliculas Online</h1>
            <p>Pelisplus.co es un sitio ideal para ver películas y series online. Nuestro sistema se preocupa por tener lo último del cine en calidad full HD.

                Para ver una película o serie de televisión puedes usar el buscador en la parte superior o seguir uno de los enlaces de genero o año de estreno en la parte izquierda del sitio, luego el enlace te llevará al reproductor donde solo tienes que dar click en el boton de play. Te invitamos a compartir este genial sitio con tus amigos y familiares.</p>
            <div class="row">
                <div class="col-sm-6">
                    <h1>Columna 1</h1>
                </div>
                <div class="col-sm-6">
                    <h1>Columna 2</h1>
                </div>
            </div>
        </div>
    </div>
    </div>
        <!-- col- sm/md/lg - # 1 - 12 small medium large, partes van hasta 12-->
<!--        <div class="col-sm-12">-->
<!--            <h1>Columna 12</h1>-->
<!--        </div>-->
<!--        <div class="col-sm-6">-->
<!--            <h1>Columna 6</h1>-->
<!--        </div>-->
<!--        <div class="col-sm-6">-->
<!--            <h1>Columna 6</h1>-->
<!--        </div>-->
    <div class="separador"></div>
</div>

<h1 class="modelo-cajas" >Hola</h1>
<h1 id="adios" class="verde">Adios</h1> <!-- Todas las etiquetas pueden tener un identificador unico para la etiqueta-->
<h1 class="verde" style="color: chocolate; background: saddlebrown;">Bienvenidos</h1> <!-- La clase si se puede repetir, se coloca desde el body -->
<p>Barcelona</p>
<div>Emelec</div>
<h2>Liga</h2>
<p class="morado azul">El reino cuantico es la solucion a todos los problemas dl universo</p> <!-- no importa el orden en el que se escriban las ckases, la que se va a poner es la ultima clase definida-->
<p class="verde">Verde Uno</p>
<div class="verde">Verde Dos</div>
<p class="verde azul">Verde Uno</p>
</body>
<div class="separador"></div>
</html>