<!--Antes del 2019, se ponia la version de HTML de la pagina web-->
<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Cabecera
    Informacion extra que puede necesitar el navegador -->
    <title> Peliculas - Lista </title> <!-- Titulo del la Pagina -->
    <meta charset="UTF-8">
    <link rel="icon" href="/imagenes/grumosa.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Despues de los metadatos se puede poner las etiquetas style-->
</head>
<body>
<br>
    <!-- Cuerpo -->
    <!-- Se muestra todo el contenido visual para el usuario dentro de la pagina web -->
    <h1>Titulo 1</h1> <!-- Header 1, existen 3 tipos de cabeceras (titulos), deliminta importancia -->
    <h2>Titulo 2</h2>
    <h3>Titulo 3</h3>
    <h4>Titulo 4</h4>
    <h5>Titulo 5</h5>
    <h6>Titulo 6</h6>
    <p>Esto es un parrafo
        <span> <b> Esto es otro parrafo </b></span> <!-- Evita el salto de linea, se utilizan para aplicar un nuevo estilo o aplicar funcionalidad-->
        extenso para probar la etiqueta de parrafo</p>
    <!-- Lista ordenada-->
<ol>
    <li>a</li>
    <li>b</li>
    <li>c</li>
</ol>
<!-- Lista no ordenada-->
<ul>
    <li>1</li> <!-- List Item -->
    <li>2</li>
    <li>3</li>
</ul>
<!-- Anclas -->
<a href = "http://www.google.com" target="_self"> <!-- target: se abre en la misma pesta単a, esta por defecto-->
    Google Aqui Mismo (self)
</a> <br>
    <a href = "http://www.google.com" target="_blank"> <!-- se abre en otra pesta単a -->
        Google Externo (blank)
    </a>
<br>
    <img src="/imagenes/grumosa.png" alt="Princesa Trago"> <!-- alt es el texto que sale cuando una imagen no carga-->
<form>
    <label for="nombre">Nombre: </label> <!-- Un input siempre debe ir acompa単ado de un label -->
    <input id="nombre" type="text">
    <button>Enviar Datos</button>

</form>
<label for="nombreff">Nombre fuera del form: </label> <!-- Un input siempre debe ir acompa単ado de un label -->
<input id="nombreff" type="text">
<button>Boton fuera del form</button>
<!-- Tablas -->
<!-- Estilos-->
<style>
    table, td, th {
        border:solid saddlebrown 1px;
    }
</style>
<br><br>
<table>
    <tr> <!-- Table row .. fila -->
        <!-- Table header-->
        <th>Nombres</th>
        <th>Apellidos</th>
    </tr>

    <tr>
        <!-- Table detail-->
        <td>Leslie Mishell</td>
        <td>Diaz Yanangomez</td>
    </tr>
</table>
<br><br>
<iframe src="https://saew.epn.edu.ec/" frameborder="0">
    <!-- No va contenido aqui dentro-->
</iframe>
<div>
    <!-- Contenedor, normalmente se utiliza para dar estilos-->

</div>
</body>
<!-- Despues de cerrar el body se puede poder el codigo js-->
</html>