<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Gestionar</title>
    <style>
        .barrasup {
            text-align: center;
            line-height: 50px;
            height: 50px;
        }
        #form {
            border: #428bca 1px solid;
            border-radius: 5px;
            padding-top: 20px;
            padding-bottom: 20px;
            margin: 20px 20px 20px 20px;
        }
    </style>
</head>
<body>
<%if (Number(rolid) !== 2) {%>
<div class="container">
    <div class="row justify-content-end">
        <div class="col-md-2 barrasup"><p><%=username1%></p></div>
        <div class="col-md-2 barrasup"><a href="/../api/salir/<%=userid%>"><button class="btn btn-primary">Salir</button></a></div>
    </div>
<div class="container" id="form">
    <div class="row justify-content-center">
        <a href="/../api/gestionPadres/<%=userid%>"><button type="button" class="btn btn-success">Gestionar Padres</button></a>
    </div>
    </div>
</div>
<% } else { %>
    <%- include('componentes/nopermitido') %>
<% } %>
</body>
</html>